---
import Icon from "astro-icon";
import { Image } from "@astrojs/image/components";

import astroCover from "../assets/astro-hero.png";
import daisyCover from "../assets/daisy-ui-hero.png";
import tailwindCover from "../assets/tailwind-hero.png";

const projects = [
  {
    name: "Astro",
    date: new Date(2021, 3, 14, 3),
    description:
      "Astro is a new kind of static site builder for the modern web. Powerful developer experience meets lightweight output.",
    cover: astroCover,
    links: [
      { label: "Homepage", href: "https://astro.build/", icon: "earth-line" },
      {
        label: "Repository",
        href: "https://github.com/withastro/astro",
        icon: "github-line",
      },
    ],
  },
  {
    name: "DaisyUI",
    date: new Date(2020, 12, 6),
    description:
      "The most popular, free and open-source Tailwind CSS component library",
    cover: daisyCover,
    links: [
      {
        label: "Homepage",
        href: "https://daisyui.com/",
        icon: "earth-line",
      },
      {
        label: "Repository",
        href: "https://github.com/saadeghi/daisyui",
        icon: "github-line",
      },
    ],
  },
  {
    name: "Tailwind",
    date: new Date(2016, 7, 16),
    description:
      "Rapidly build modern websites without ever leaving your HTML.",
    cover: tailwindCover,
    links: [
      {
        label: "Homepage",
        href: "https://tailwindcss.com/",
        icon: "earth-line",
      },
      {
        label: "Repository",
        href: "https://github.com/tailwindlabs/tailwindcss",
        icon: "github-line",
      },
    ],
  },
];
---

<div class="hero min-h-screen bg-base-300 relative" id="projects">
  <div class="hero-content z-10">
    <div class="flex flex-col">
      <h1 class="text-4xl mb-8">Projects 💻</h1>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        {projects.map((project) => (
          <div class="card card-compact bg-base-100 shadow-xl transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-10 duration-200">
            <figure class="relative">
              <Image
                src={project.cover}
                alt={project.name}
                format="png"
                width={900}
                height={400}
              />
              <h2 class="badge absolute top-3 right-3">
                {project.date.getFullYear()}
              </h2>
            </figure>
            <div class="card-body">
              <div class="flex justify-between">
                <h2 class="card-title">{project.name}</h2>
                <div class="flex justify-end gap-2">
                  {project.links.map((link) => (
                    <div class="tooltip tooltip-bottom" data-tip={link.label}>
                      <a class="btn btn-link btn-circle w-6" href={link.href}>
                        <Icon pack="ri" name={link.icon} />
                      </a>
                    </div>
                  ))}
                </div>
              </div>
              <p>{project.description}</p>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>

  <div class="absolute bottom-0 inset-x-0 z-0 fill-base-200">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
      ><path
        fill="current"
        fill-opacity="1"
        d="M0,32L48,26.7C96,21,192,11,288,53.3C384,96,480,192,576,213.3C672,235,768,181,864,186.7C960,192,1056,256,1152,266.7C1248,277,1344,235,1392,213.3L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  </div>
</div>

<style lang="less">

</style>
