---
import { Image } from "@astrojs/image/components";
import type { Project } from "../types";

type Props = {
  project: Project;
};

const { project } = Astro.props;
---

<a
  class="card bg-base-200 shadow-xl link link-primary link-card transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-10 duration-200 hover:shadow-2xl"
  href={project.href}
  target="_blank"
>
  <figure class="relative">
    <Image
      src={project.cover}
      alt={`Cover of ${project.name}`}
      height="250"
      width="450"
    />
    <span class="badge absolute top-3 right-3">
      {project.yearReleased}
    </span>
  </figure>
  <div class="card-body text-base-content">
    <h2 class="card-title">{project.name}</h2>
    <p style="">{project.description}</p>
  </div>
</a>

<style>
  .link-card {
    text-decoration-line: none;
  }

  .link-card:hover .card-title {
    text-decoration-line: underline;
  }
</style>
