---
import Title from "../components/Title.astro";
import Wave from "../components/Wave.astro";

const username = "emasuriano";
const articles = await fetch(
  `https://dev.to/api/articles?username=${username}&per_page=6`
).then((res) => res.json());
---

<section class="relative hero min-h-screen bg-base-200" id="writing">
  <Wave position="bottom" fill="fill-secondary" />

  <div class="hero-content max-w-screen-xl">
    <div class="flex flex-col gap-8">
      <Title href="#writing" label="Writing ✍️" />

      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 sm:gap-4 lg:gap-8"
      >
        {articles.map((article) => (
          <a
            class="card bg-base-100 shadow-xl link link-primary link-card transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-10 duration-200 hover:shadow-2xl"
            href={article.url}
          >
            <div class="card-body text-base-content">
              <h2 class="card-title">{article.title}</h2>
              <p style="">{article.description}</p>
            </div>
            <figure>
              <img src={article.social_image} alt={article.title} />
            </figure>
          </a>
        ))}
      </div>
    </div>
  </div>
</section>

<style>
  .link-card {
    text-decoration-line: none;
  }

  .link-card:hover .card-title {
    text-decoration-line: underline;
  }
</style>
